*{

    box-sizing: border-box;
}
html{
    margin: 0;
}
body{
    margin: 0px;
}

#main {
  margin: 20px;
  padding: 10px;
  background-color: rgb(183, 204, 235);
  font-family: sans-serif;
}

#title {
    padding-top: 30px ;
  text-align: center;
}
h2 {
  text-align: center;
  font-size: medium;
  font-weight: normal;
}


#img-div {
  width: 100%;
  padding: 10px;
  margin: 0 ;
  background-color: white;
  
  /* background-color: rebeccapurple; */
}

#image {
    max-width: 100%;
    display: block;
  margin: 0  auto;
}

#img-caption{
    margin: 15px 0 5px 0;
    text-align: center;
}
h3:first-of-type{
    margin: 50px 0;
    font-size: medium;
    text-align: center;
}
ul{
    max-width: 500px;
    margin: 40px auto;
    font-size: 16px;
    padding-left:  30px;
}
li{
    margin: 15px 0;
    line-height: 1.5;
}
li:last-of-type{
    color: rgb(255, 0, 0);
}
blockquote {
    font-style: italic;
    /* background-color: rebeccapurple; */
    margin: 0 auto 50px auto;
    max-width: 300px;
    /* width: 70%; */
    font-weight:lighter;
}
blockquote p{
    display: block;
    margin: 16px auto;
}
h3:last-of-type{
    width: 70%;
    margin: 0 auto;
}
section{
    padding-bottom: 50px;
}